{% extends "layouts/app.twig" %}

{% block content %}
    <div class="position-ref full-height">
        <div class="content weather">

            {% if data|length > 0 %}
                {% for item in data %}
                    {% if item.current == 1 %}
                        <div data-icon="{{ item.icon }}" class="current-weather day-of-week">
                            <div class="left">
                                <canvas id="icon-{{ item.id }}" width="240" height="240"></canvas>
                                <p id="summary">{{ item.summary }}</p>
                            </div>
                            <div class="right">
                                <input id="location" type="text" value="{{ item.locationName }}">
                                <h2>{{ trans('weather.today') }},
                                    <span class="day">{{ item.time|timeHelper('day-and-weekFull') }}</span>
                                </h2>
                                <p class="temperature">
                                    {{ trans('weather.temperature') }}:
                                    <span class="temp">{{ item.temperature }}°C</span>
                                </p>
                                <p>
                                    {{ trans('weather.wind_speed') }}:
                                    <span id="wind">{{ item.windSpeed }}m/s</span>
                                </p>
                                <p>
                                    {{ trans('weather.humidity') }}:
                                    <span id="humidity">{{ item.humidity }}%</span>
                                </p>
                            </div>
                        </div>
                        <div class="week-weather">
                    {% elseif (item.time > time() + 86400) %}
                        <div data-icon="{{ item.icon }}" class="day-of-week">
                            <h4 class="day">{{ item.time|timeHelper('day-and-week') }}</h4>
                                <canvas id="icon-{{ item.id }}" width="128" height="128"></canvas>
                            <h3 class="temperature temp">{{ item.temperature }} °C / {{ item.temperatureMin }} °C</h3>
                        </div>
                    {% endif %}
                {% endfor %}
                  </div>
            {% else %}
                <div class="current-weather">
                    <h3 class="temperature temp">Weather not loaded</h3>
                </div>
                <center>Please, configure Weather Module in env file</center>
            {% endif %}

        </div>
        <!-- END of .week-weather -->
    </div>
{% endblock %}